.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.main-container{
    height: 100vh;
    background: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

nav{
    display: none !important;
}
.icon{
    font-size: 130px;
    color: darkcyan;
    margin: 30px 0;
}

.backButton {
    position: fixed;
    border-radius: 100% !important;
    top: 6%;
    left: 6%;
    transition: 0.2s !important;
}

.backButton:hover{
    transform: scale(1.5);
    /* padding: 50px; */
}
    
    