
.categories li{
    list-style: none;
    text-align: left;
    background: #00000059;
    padding: 10px 20px;
    margin: 10px 0 ;
    font-weight: 500;
    cursor: pointer;
  }
  .products{
    height: 100%;
    overflow-y: hidden;
  }
  .products > .row {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .products h4{
    color: rgb(160, 160, 160);
  }